body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
}

.inner {
    
	width: 300px;
	height: 300px;
}

.img {
    width: 75px;
    margin-bottom: 1rem;
    display: flex;
	flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.item {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background .2s linear;
    margin-top: 1rem;
    display: flex;
	flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.txt {
    background: rgb(83, 255, 232);
    border-radius: 10px;
    height: 20px;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
	flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    background: aqua;
}

.usercard {
    text-align: center;
}